/*===  GENERAL  ===*/


.block_page
{
	width: 80%;
	margin: 20px auto;
}

.min_title
{
	font-size: 0.7em;
}

h1, h2, h3
{
	text-align: center;
}

h1
{
	margin: 50px auto;
}

h2
{
	margin: 20px auto;
}


/*===  ACCUEIL  ===*/

.home-page-posts
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.para-acceuil
{
    margin: 0 auto;
    font-size: 1.4em;
    text-align: justify;
    width: 95%;
}

.news
{
    margin-top: 100px;
}


/*===  ADMIN  ===*/

.title-post-admin-home
{
    text-align: left;
    font-size: 1.2em;
}

#editeur
{
    width: 500px; 
    height: 200px; 
    border: 1px solid black; 
    padding: 5px; 
    overflow: auto; 
}

.label_margin
{
    margin-top: 10px;
}

/*===  CHAPITRE  ===*/

.posts
{
	text-align: justify;
    margin: 20px auto;
}

.contact
{
    text-align: center;
}

.contact h3
{
    margin: 40px auto;
}

.contact p
{
    font-size: 1.3em;
}

/*===  MINI-JEUX  ===*/

.footbal_game
{
    width: 230px; 
    height: 400px;
    background-color: rgb(65, 117, 5);
    color: #fff;
    position: relative;
}

.header_game
{
    height: 23%;
    display: flex;
    justify-content: space-around;
}

.point, .timer
{
    padding: 5px;
    margin: 10px auto;
    text-align: center;
}

.point p, .timer p
{
    margin: 0;
}

.timer
{

}

.point
{
    width: 30%;
    background: rgb(126, 211, 33);
    border-radius: 5px;
}

.number_game
{
    font-size: 1.5em;
    font-weight: bold;
}

.game
{
    padding: 10px;
    height: 77%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /*overflow: hidden;*/
}

.game img
{
    width: 80px;
    height: 80px;
    position: absolute;
    transition: 500ms;
}

.game img:hover
{
    cursor: pointer;
}

/*=====  PETITE RéSOLUTION  =====*/

@media screen and (max-width: 640px) 
{

	/*===  GENERAL  ===*/
    .block_page 
    {
  		width: 95%;
    }

}